header{
    border: 1px solid rgb(225, 83, 32);
    width: 100%;
    height: 80px;
    background-color:rgb(225, 83, 32);
}
header div{
    font-size: xx-large;
    margin-top: 20px;
    margin-left: 10px;
}

#container{
    display: flex;
    margin: 20px;
}

#products{
    border: 1px solid black;
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#cart{
    border: 1px solid black;
    width: 30%;
    height: 100%;
}
.box{
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box button{
    width: 70px;
    margin-left: 0px;
}

.box img{
    width: 250px;
    height:250px;
}

.add{
    position: absolute;
    text-decoration: none;
    top: 0;
    right: 0;
    padding: 15px;
}